<app-navbar></app-navbar>

<div class="body">
    <form class="form">
        <p class="title">Compte</p>
        <p class="message">Informations sur votre compte</p>

        <!-- Information Editing Section -->
        <div *ngIf="!isEditPasswordMode">
            <label>
                <span>Adresse mail</span>
                <input type="email" name="email" class="input" [(ngModel)]="user.email" [disabled]="!isEditMode">
            </label>
            <label>
                <span>Prénom</span>
                <input type="text" class="input" name="firstName" [(ngModel)]="user.firstName" [disabled]="!isEditMode">
            </label>
            <label>
                <span>Nom</span>
                <input type="text" class="input" name="lastName" [(ngModel)]="user.lastName"
                    (ngModelChange)="setChanged()" [disabled]="!isEditMode">
            </label>
            <label>
                <span>Age</span>
                <input type="text" class="input" name="age" [(ngModel)]="user.age" (ngModelChange)="setChanged()"
                    [disabled]="!isEditMode">
            </label>
        </div>

        <!-- Password Editing Section -->
        <div *ngIf="isEditPasswordMode">
            <label>
                <span>Mot de passe actuel</span>
                <input type="password" class="input" name="currentPassword" [(ngModel)]="user.currentPassword">
            </label>
            <label>
                <span>Nouveau mot de passe</span>
                <input type="password" class="input" name="newPassword" [(ngModel)]="user.password">
            </label>
            <label>
                <span>Confirmer le nouveau mot de passe</span>
                <input type="password" class="input" name="confirmPassword" [(ngModel)]="confirmPassword">
                <div *ngIf="passwordError" style="color:red">
                    Les mots de passe ne correspondent pas.
                </div>
            </label>
        </div>

        <!-- Control Buttons -->
        <div *ngIf="!isEditMode && !isEditPasswordMode" class="column">
            <button class="submit" (click)="toggleEditInfoMode()">Modifier les informations</button>
            <button class="submit" (click)="toggleEditPasswordMode()">Modifier le mot de passe</button>
            <button class="delete">Supprimer le compte</button>
        </div>

        <div class="column" *ngIf="isEditMode">
            <button class="submit" (click)="saveUserInfo()">Sauvegarder les informations</button>
            <button class="delete" (click)="cancelEditInfo()">Annuler</button>
        </div>

        <div class="column" *ngIf="isEditPasswordMode">
            <button class="submit" (click)="saveNewPassword()">Sauvegarder le nouveau mot de passe</button>
            <button class="delete" (click)="cancelEditPassword()">Annuler</button>
        </div>

    </form>
</div>