<!-- ######################### Slider ######################### -->

<div class="row">
  <div class="header">
    <!-- <h3 class="title">Title</h3> -->
    <div class="progress-bar"></div>
  </div>
  <div class="container">
    <button class="handle left-handle" (click)="scrollL()">
      <div class="text">&#8249;</div>
    </button>
    <div class="slider" #sliderElement>
      <!-- ### Élements #### -->
      <ng-content></ng-content>
    </div>
    <button class="handle right-handle" (click)="scrollR()">
      <div class="text">&#8250;</div>
    </button>
  </div>
</div>