<div id="backdrop"></div>
<div id="container">
  <div class="logo_area">
    <a href=""><img src="https://pngimg.com/uploads/netflix/netflix_PNG25.png" class="logo" alt="Netflix logo"></a>
  </div>

  <div class="centred">
    <div class="box">
      <form>
        <h2 class="heading">Sign In</h2>
        <input type="email"
               class="form_input"
               id="email"
               name="email"
               placeholder="Email or phone number"
               [(ngModel)]="user.email">
        <div id="feedback"></div>
      
        <input type="password"
               class="form_input"
               id="password"
               name="password"
               placeholder="Password"
               [(ngModel)]="user.password">
        <div id="feedback2"></div>
      </form>

      <div class="btn">
        <button type="submit" (click)="onLoggedin()"
        class="sign_in" id="button">Sign In</button>
      </div>

      <div class="flex"> 
        <label for="checkbox">
          <input type="checkbox"
                 class="_check"
                 id="checkbox"
                 name="checkbox"
                 > Remember me
        </label>

        <a class="left" href="">Need help?</a>
      </div>

      <div class="more">
        <span class="new">New to Netflix? <a class="sign" href="">Sign up now.</a></span>

        <p class="paragraph">
          This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="" class="blue">Learn more.</a> 
        </p>
      </div>

    </div>
  </div>
  <footer id="footer">
    <div class="first">
      <a href="" class="quest">Questions? Contact us.</a>
    </div>
    <div class="second">
      <div class="one">
        <a href="" class="link">FAQ</a>
        <a href="" class="link">Cookie Prefrence</a>
      </div>
      <div class="one">
        <a href="" class="link">Help Centre</a>
        <a href="" class="link">Coporate Information</a>
      </div>
      <div class="one">
        <a href="" class="link">Terms Of Use</a>
      </div>
      <div class="one">
        <a href="" class="link">Privacy</a>
      </div>
    </div>
  </footer>
</div>
