<app-navbar></app-navbar>

<section id="featured">
  <div class="background"
    [style.backgroundImage]="'url(https://image.tmdb.org/t/p/original/' + bannerResult[0]?.backdrop_path + ')'"></div>
  <div class="content-info">
    <div class="content-title">{{bannerResult[0].title}}</div>
    <div class="content-description">
      {{shortOverview(bannerResult[0].overview)}}
    </div>
    <div class="roww">
      <button (click)="changeCurrentMovie(bannerResult[0].id); openMovieDetail(bannerResult[0].id)" class="play"><i
          class="fas fa-play"></i> Play</button>
      <button class="info">
        <i class="fas fa-info-circle"></i> More Info
      </button>
    </div>
  </div>
</section>


<!-- ######################### Début Caroussel Trending ######################### -->
<h3 class="title">Tendance</h3>
<app-caroussel>


  <ng-container *ngFor="let t of trendingMovieResult">
    <img (click)="changeCurrentMovie(t.id); openMovieDetail(t.id)"
      src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="Describe Image">
  </ng-container>


</app-caroussel>

<!-- ######################### Fin Caroussel Trending ######################### -->
<!-- ######################### Début Caroussel Action ######################### -->
<h3 class="title">Action</h3>
<app-caroussel>
  <ng-container *ngFor="let t of actionMovieResult">
    <img (click)="changeCurrentMovie(t.id); openMovieDetail(t.id)"
      src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="Describe Image">
  </ng-container>
</app-caroussel>

<!-- ######################### Fin Caroussel Action ######################### -->
<!-- ######################### Début Caroussel Adventure ######################### -->
<h3 class="title">Aventure</h3>
<app-caroussel>
  <ng-container *ngFor="let t of adventureMovieResult">
    <img (click)="changeCurrentMovie(t.id); openMovieDetail(t.id)"
      src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="Describe Image">
  </ng-container>
</app-caroussel>

<!-- ######################### Fin Caroussel Adventure ######################### -->
<!-- ######################### Début Caroussel Animation ######################### -->
<h3 class="title">Animation</h3>
<app-caroussel>
  <ng-container *ngFor="let t of animationMovieResult">
    <img (click)="changeCurrentMovie(t.id); openMovieDetail(t.id)"
      src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="Describe Image">
  </ng-container>
</app-caroussel>

<!-- ######################### Fin Caroussel Animation ######################### -->
<!-- ######################### Début Caroussel Comedy ######################### -->
<h3 class="title">Comédie</h3>
<app-caroussel>
  <ng-container *ngFor="let t of comedyMovieResult">
    <img (click)="changeCurrentMovie(t.id); openMovieDetail(t.id)"
      src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="Describe Image">
  </ng-container>
</app-caroussel>

<!-- ######################### Fin Caroussel Comedy ######################### -->
<!-- ######################### Début Caroussel Documentary ######################### -->
<h3 class="title">Documentaire</h3>
<app-caroussel>
  <ng-container *ngFor="let t of documentaryMovieResult">
    <img (click)="changeCurrentMovie(t.id); openMovieDetail(t.id)"
      src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" alt="Describe Image">
  </ng-container>
</app-caroussel>

<!-- ######################### Fin Caroussel Documentary ######################### -->


<app-footer></app-footer>